:root {
    --body-bg-color: #011526;
    --header: #023059;
    --text-color: #91BBF2;
    --raleway: 'Raleway', sans-serif;
}

.about {
    display: flex;
    flex-direction: column;
    padding-top: 7em;
    color: #91BBF2;
    width: 100%;
}


.desc_photo {
    display: flex;
    height: 80%;
}

.photo {
    display: flex;
    justify-content: center;
    max-height: 100%;
    width: 50%;
    padding-top: 5em;
}

.photo img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
}

.desc {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.icon {
    display: flex;
     justify-content: center;;
     gap: 10px;
     padding-top: 5em;
}

.text {
    padding: 3em 5em 2em 1.4em;
    font-weight: 600;
}

.text p {
    text-align: justify;
    line-height: 1.3em;
}

