@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --body-bg-color: #011526;
    --header: #023059;
    --text-color: #91BBF2;
    --raleway: 'Raleway', sans-serif;
}

.container {
    height: 100vh;
    background-color: #011526;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: var(--header);
    height: 8%;
    padding-left: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.354);
}

a {
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    font-family:var(--raleway);
    font-weight: bold;
}

.links {
    flex-grow: 2;
    display: flex;
    gap: 3%;
    justify-content: end;
    font-size: 20px;
    font-family:var(--raleway);
}

.links a:hover {
    color: #011526;
    transform: scale(1.1);
	transition: 0.2s ease-in-out;
}

.icons {
    padding-left: 3%;
    flex-grow: 1;
    display: flex;
    gap: 5%;
    color: var(--text-color);
    
}

.icons a:hover {
    color: #011526;
    transform: scale(1.2);
	transition: 0.2s ease-in-out;
}

.backImg {
    position: relative; 
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-family: var(--raleway);
    color: #91BBF2;
    background-image: url(../../assets/keyboardBG.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}


#myPhoto {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.164);
    transition: 0.2s ease-in-out;
}

#myPhoto:hover {
    color: #011526;
    transform: scale(1.1);
	transition: 0.2s ease-in-out;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.368);
}

.bio {
    
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

.subBio {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 20px;
}


#go {
    display: flex;
    gap: 10px;
    align-items: center;
    background: none;
    color: #91BBF2;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #023059;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.245);
    transition: all 0.2s ease-in-out 0s;
}

#go:hover {
    background-color: #035AA6;
    transition: all 0.2s ease-in-out 0s;
}
    





