@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --body-bg-color: #011526;
    --header: #023059;
    --text-color: #91BBF2;
    --raleway: 'Raleway', sans-serif;
}

.container {
    height: 100vh;
    background-color: #011526;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--header);
    height: 8%;
    padding-left: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.354);
}

a {
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    font-family:var(--raleway);
    font-weight: bold;
}

.links {
    flex-grow: 2;
    display: flex;
    gap: 3%;
    justify-content: end;
    font-size: 20px;
    font-family:var(--raleway);
}

.links a:hover {
    color: #011526;
    transform: scale(1.2);
	transition: 0.2s ease-in-out;
}

.icons {
    padding-left: 3%;
    flex-grow: 1;
    display: flex;
    gap: 5%;
    color: var(--text-color);
}

.icons a:hover {
    color: #011526;
    transform: scale(1.2);
	transition: 0.2s ease-in-out;
}

.backImg {
    position: relative; 
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.backImg::before{
    content: "";
    background-image: url(../../assets/pexels-negative-space-34153.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    background-position: right center;
}

#myPhoto {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.164);
}

#myPhoto:hover {
    color: #011526;
    transform: scale(1.2);
	transition: 0.2s ease-in-out;
}

.bio {
    font-family: var(--raleway);
    color: #91BBF2;
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.subBio {
    font-family: var(--raleway);
    color: #91BBF2;
    padding-top: 10px;
    font-size: 20px;
}