.cardPort {
  min-width: 400px;
  max-height: 353px;
  background-color: #035aa6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: #011526;
  align-items: center;
  justify-content: center;
  justify-items: center;
  transition: 0.2s ease-in-out;
  position: relative;
}
.cardPort:hover {
  transform: translateY(-5px);
  background-color: #027bc7;
  cursor: pointer;
}

.cardPort a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

img {
  /* width: 356px; */
  height: 253px;
  border-radius: 20px;
  margin: 1rem 0rem;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
}

.git {
  color: #011526;
  position: absolute;
  font-size: 2rem;
  right: 0;
  bottom: 0;
  margin: 0.5em;
  transition: 0.2s ease-in-out ;
}

.git:hover {
  color: white;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: #011526;
}

.demo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  opacity: 0.8;
  color: #011526;
}

.seta {
  position: absolute;
  top: 0.1rem;
  margin-left: 0.2rem;
}

@media (max-width: 480px) {
  .cardPort {
    min-width: 90%;
  }

  .cardPort img {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cardPort {
    min-width: 100%;
  }

  .cardPort img {
    width: 90%;
  }
}

