.btn {
  background-color: #0367a6;
  color: #011526;
  width: 40%;
  padding: 1em 0em;
  border-radius: 9px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 2em;
  padding-right: 1.5em;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
}

.btn a {
  color: #011526;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-5px);
  background-color: #027bc7;
  cursor: pointer;
}

.btn svg {
  margin-left: 0.5em;
  font-size: 21px;
  position: absolute;
}

@media (max-width: 480px) {
  .btn {
    width: 125%;
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem 0rem;
  }

  .btn svg {
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .btn {
    width: 125%;
    font-size: 1rem;
    padding: 0.6rem 1.5rem 0.6rem 0rem;
  }

  .btn svg {
    font-size: 1.2rem;
  }
}
