/* .container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
} */

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 90vh;
}

.min-height {
    min-height: 75vh;
}

.nav-height {
    height: 50px;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.homeContainer {
    align-items: center;
}