.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1em;
  color: #91bbf2;
  margin-top: 1em;
}

.intro h1 {
  font-size: 2.125em;
}

@media (max-width: 480px) {
  .intro h1 {
    font-size: 1.5rem;
  }
}
