:root {
    --body-bg-color: #011526;
    --header: #023059;
    --text-color: #91BBF2;
    --raleway: 'Raleway', sans-serif;
}

.nav-bar {
    display: flex;
    z-index: 999;
    justify-content: space-between;
    background-color: var(--header);
    padding: 1em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.507);
}




.logoName {
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}


.item {
    margin-right: 1em;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bold;
}

.item a {
    color:var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.item a:hover {
    color: #011526;
    border-bottom: 3px solid #011526 ;
}




