.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: #91BBF2;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    transition: 0.4s;
    cursor: pointer;
}

.scrollup_icon {
    font-size: 1.5rem;

}

.scrollup:hover {
    background-color: #035AA6;
}

.show-scroll {
    bottom: 3rem;
}