* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root {
  --body-bg-color: #011526;
  --header: #023059;
  --text-color: #91BBF2;
  --poppins: 'Raleway', sans-serif;
}

html, body, #root {
  background-color: #011526;
  height: 100%;
}
